

body,
html {
    margin: 0;
    padding: 0;
    font-family: "microsoft yahei", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

#map,
body,
html {
    width: 100%;
    height: calc(100vh)
}

html {
    font-size: 12px
}

.amap-copyright {
    box-sizing: content-box
}

* {
    box-sizing: border-box
}

.input-textarea {
    color: grey;
    height: 8em;
    overflow: auto;
    border-radius: .4rem;
    border: 1px solid #ced4da;
    margin-bottom: 1rem
}

hr {
    margin: .5rem 0;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1)
}

p {
    margin-top: 0;
    margin-bottom: 0
}

label {
    display: inline-block;
    margin-bottom: .4rem
}

.btn,
label {
    margin-left: 0;
    font-size: 1rem
}

button,
input,
select {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    overflow: visible;
    text-transform: none
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    padding: 0;
    border-style: none
}

input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0 .5rem 0 0
}

h3 {
    color: #333;
    font-weight: bold;
    line-height: 30px;
    font-size: 16px;
    margin: 0;
    font-family: "microsoft yahei", Verdana, Geneva, Tahoma, sans-serif;
}

p {
    font-size: 14px;
    font-family: "microsoft yahei", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    line-height: 20px;
}

.lkmap-popup-close-button {
    font-size: 20px;
    color: #999;
}

h4 {
    line-height: 1.8;
    font-weight: 300;
    color: inherit;
    font-size: 1.1rem;
    margin-top: 0;
    margin-bottom: .5rem
}

.info h4 {
    font-size: 14px;
    font-family: "microsoft yahei", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    line-height: 20px;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    background-color: transparent;
    background-image: none;
    color: #0037E4FF;
    border-color: #0037E4FF;
    line-height: 1.5;
    border-radius: 4px;
    -webkit-appearance: button;
    cursor: pointer;
    min-width: 40px;
    min-height: 20px;
    box-sizing: border-box;
    font-size: 14px;
    margin-right: 6px;
    margin-top: 6px;
    margin-left: 6px;
}

.btn:nth-child(2n) {
    margin-right: 0;
}

.btn-active {
    color: #fff;
    background-color: #0037E4FF;
    border-color: #0037E4FF
}

.mr0 {
    margin-right: 0;
}

.btn-full {
    width: 100%;
}

.btn:hover {
    color: #fff;
    background-color: #0037E4FF;
    border-color: #0037E4FF
}

.btn:hover {
    text-decoration: none
}

.input-item {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;

}

.border {
    border: 1px #C0C4CCFF solid;
    border-radius: 4px;
    border: 1px solid rgba(192, 196, 204, 1);
    margin-top: 12px;
    padding-left: 10px;
    box-sizing: border-box;
}

.input-item:last-child {
    margin-bottom: 0
}

.input-item>input[type=date],
.input-item>input[type=text],
.input-item>select {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0
}

.input-item>input[type=date]:not(:last-child),
.input-item>input[type=text]:not(:last-child),
.input-item>select:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.input-item>input[type=date]:not(:first-child),
.input-item>input[type=text]:not(:first-child),
.input-item>select:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}

.input-item-prepend {
    margin-right: -1px
}

.input-item-text,
input[type=date],
input[type=text],
select {
    height: calc(2.2rem + 2px)
}

.input-item-text {
    width: 6rem;
    text-align: justify;
    padding: .4rem .7rem;
    display: inline-block;
    text-justify: distribute-all-lines;
    text-align-last: justify;
    -moz-text-align-last: justify;
    -webkit-text-align-last: justify;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0
}

.input-item-text input[type=checkbox],
.input-item-text input[type=radio] {
    margin-top: 0
}

.input-card {
    display: flex;
    flex-direction: column;
    min-width: 150px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: .25rem;
    min-height: 94px;
    border-width: 0;
    border-radius: 2px;
    box-shadow: 0px 2px 6px 0px rgba(97, 113, 166, 0.2);
    position: fixed;
    bottom: 30px;
    right: 12px;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 6px;
}

.input-card > li {
    list-style: none;
}

.input-text {
    line-height: 2rem;
    margin-right: 2rem
}

.info hr {
    margin-right: 0;
    margin-left: 0;
    border-top-color: grey
}

.info {
    padding: 6px;
    margin-bottom: 1rem;
    border-radius: 2px;
    position: fixed;
    top: 8px;
    background-color: #fff;
    width: auto;
    min-width: 125px;
    border-width: 0;
    right: 60px;
    box-shadow: 0px 2px 6px 0px rgba(97, 113, 166, 0.2);
}

.info p {
    font-size: 12px;
    color: #0037E4;
    font-family: "microsoft yahei", Verdana, Geneva, Tahoma, sans-serif;
}

.info span {
    color: #333;
    font-size: 12px;
}


.info .input-serch {
	position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    width: 224px;
    height: 36px;
}

.info .input-serch .input-serch-prepend {
	margin-right: -1px;
	box-sizing: border-box;
}
.info .input-serch .input-serch-prepend .input-serch-title {
	display: block;
	width: 60px;
	height: 28px;
	padding: 0 5px;
	text-align-last: justify;
	align-items: center;
    margin-bottom: 0;
    line-height: 28px;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 4px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.info .input-serch > input{
	position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
	margin-bottom: 0;
	background: #fff;
    line-height: 1.5;
    color: #495057;
	vertical-align: middle;
	border: 1px solid #ced4da;
    border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.info .searchData-box {
	position: absolute;
	right: 12px;
	top: 43px;
	max-width: 224px;
}
.info .searchData-box ul {
    background-color: #fefefe;
    border: 1px solid #d1d1d1;
	bottom: auto;
	padding: 0;
	margin: 0;
	border-radius: 4px;
}

.info .searchData-box ul li {
	list-style: none;
	padding: 0 5px;

}
.info .searchData-box ul li:hover {
	background: #E8F1FF;
}
.info .searchData-box ul li span {
	color: #c1c1c1;
    padding-left: 4px;
}



.w160 {
    width: 160px;
}

.w170 {
    width: 170px;
}

.w180 {
    width: 180px;
}

.w190 {
    width: 190px;
}

.w200 {
    width: 200px;
}

.w210 {
    width: 210px;
}

.w220 {
    width: 220px;
}

.w230 {
    width: 230px;
}

.w240 {
    width: 240px;
}

.w250 {
    width: 250px;
}

.w260 {
    width: 260px;
}

.w270 {
    width: 270px;
}

.w280 {
    width: 280px;
}

.w290 {
    width: 290px;
}

.w300 {
    width: 300px;
}

.mb10 {
    margin-bottom: 10px;
}

.chbox {
    position: relative;
    cursor: pointer;
    margin-bottom: 14px;
    font-size: 14px;
}

.mb0 {
    margin-bottom: 0;
}

.chbox input {
    cursor: pointer;
    display: inline-block;
}

.chbox input:checked+.show-box {
    background: #0037E4;
}

.chbox input:checked+.show-box::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 4px;
    width: 3px;
    height: 7px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.chbox .show-box {
    position: absolute;
    top: 2px;
    left: 0px;
    width: 15px;
    height: 15px;
    border-radius: 2px;
    border: 1px solid #E0E2E6;
    background: white;
}


input[type=date],
input[type=text],
select {
    display: inline-block;
    width: 100%;
    padding: .375rem 1.75rem .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center;
    background-size: 8px 10px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

input[type=date],
input[type=text] {
    background: #fff;
    padding: .375rem .75rem
}

input[type=date]:focus,
input[type=text]:focus,
select:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 .1rem rgba(128, 189, 255, .1)
}

.btn:focus {
    outline: 0;
    box-shadow: none
}

input[type=date]:focus::-ms-value,
input[type=text]:focus::-ms-value,
select:focus::-ms-value {
    color: #495057;
    background-color: #fff
}

.native-toast {
    position: fixed;
    background-color: rgba(50, 50, 50, .8);
    border-radius: 2px;
    color: #fff;
    left: 50%;
    text-align: center;
    padding: 10px 20px;
    opacity: 0;
    z-index: 99999;
    transition: transform .25s, opacity .25s, top .25s;
    box-sizing: border-box
}

.native-toast-bottom {
    bottom: 120px;
    -ms-transform: translateX(-50%) translateY(50px);
    transform: translateX(-50%) translateY(50px)
}

.native-toast-bottom.native-toast-shown {
    opacity: 1;
    -ms-transform: translateX(-50%) translateY(0);
    transform: translateX(-50%) translateY(0)
}

.native-toast-bottom.native-toast-edge {
    bottom: 0
}

.native-toast-top {
    top: 50px;
    -ms-transform: translateX(-50%) translateY(-50px);
    transform: translateX(-50%) translateY(-50px)
}

.native-toast-top.native-toast-shown {
    opacity: 1;
    -ms-transform: translateX(-50%) translateY(0);
    transform: translateX(-50%) translateY(0)
}

.native-toast-top.native-toast-edge {
    top: 0
}

.native-toast-center {
    top: 0;
    -ms-transform: translateX(-50%) translateY(-50px);
    transform: translateX(-50%) translateY(-50px)
}

.native-toast-center.native-toast-shown {
    opacity: 1;
    top: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%)
}

.native-toast-edge {
    border-radius: 0;
    width: 100%;
    text-align: left
}

@media screen and (min-width:40rem) {
    .native-toast:not(.native-toast-edge) {
        max-width: 18rem
    }
}

.native-toast-error {
    background-color: #c60100;
    color: #fff
}

.native-toast-success {
    background-color: #0037E4FF;
    font-size: 14px;
    font-family: "microsoft yahei", Verdana, Geneva, Tahoma, sans-serif;
    color: #fff
}

.native-toast-warning {
    background-color: #ff7d1d;
    color: #fff
}

.native-toast-info {
    background-color: #0037E4FF;
    color: #fff;
    font-family: "microsoft yahei", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;

}

[class^=native-toast-icon-] {
    vertical-align: middle;
    margin-right: 8px
}

[class^=native-toast-icon-] svg {
    width: 16px;
    height: 16px
}

.inp {
    border: 0 !important;
    color: #0037E4FF !important;
}

.radio {
    margin: 3px 5px;
}

.radio input[type="radio"] {
    position: absolute;
    opacity: 0;
}

.radio input[type="radio"]+.radio-label:before {
    content: '';
    background: #f4f4f4;
    border-radius: 100%;
    border: 1px solid #C0C4CC;
    display: inline-block;
    width: 14px;
    height: 14px;
    position: relative;
    top: 0;
    margin-right: 1em;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    -webkit-transition: all 250ms ease;
    transition: all 250ms ease;
}

.radio input[type="radio"]:checked+.radio-label:before {
    background-color: #0037E4;
    box-shadow: inset 0 0 0 4px #f4f4f4;
}

.radio input[type="radio"]:focus+.radio-label:before {
    outline: none;
    border-color: #0037E4;
}

.radio input[type="radio"]:disabled+.radio-label:before {
    box-shadow: inset 0 0 0 4px #f4f4f4;
    border-color: #b4b4b4;
    background: #b4b4b4;
}

.radio input[type="radio"]+.radio-label:empty:before {
    margin-right: 0;
}

.sidebar {
	position:absolute;
	left:20px;
	top:10px;
	width:200px;
	background:#400040
}

